.container{
  display: grid;
  grid-template-rows: 15vh 85vh;
}
.header{
  font-family: 'Lemonada', cursive;
  color: #02b10a;
  background-color: rgb(249, 255, 162);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  padding-left: 20px;
  font-size: 1.5em;
}
.header button{
  height: 40px;
  width: 220px;
  margin: 28px 20px 20px 20px ;
  cursor: pointer;
  background-color: rgb(175, 250, 152);
  border: 1px solid rgb(140, 248, 107);
  border-radius: 5px;
  font-size: 1em;
}
/* .header button:hover{
  opacity: 0.7;
  transition: 0.3s;
  box-shadow: -2px 2px 5px black;
} */
.main{
  background: rgb(175, 250, 152);
  display: grid;
  grid-template-columns: 15% 85%;
}
.descriptions{
  background-color: rgb(225, 251, 217);
  display: flex;
  align-items: flex-start;
  padding: 10px 0 0 15px;
  font-size: 1em;
  font-family: 'Fira Sans', sans-serif;
  border: none;
  border-radius: 5px;
  color: rgb(7, 112, 3);
}
.sidebar {
  display: flex;
  flex-direction:  column;
  justify-content: start;
}

.buttons{
  color: white;
  font-size: 1.2em;
  margin: 5px 5px 5px 5px;
  width: 95%;
  height: 30px;
  background: linear-gradient( #026807, #02b10a);
  border: none;
  border-radius: 3px;
  text-align: left;
  cursor: pointer;
}
.buttons:hover{
  opacity: 0.7;
  transition: 0.3s;
  box-shadow: -2px 2px 5px black;
  width: 90%;
}

.buttonAndTextarea{
  display: grid;
  grid-template-rows: 10% 90%;
}
.buttonCopy{
  margin: 5px 10px 10px 0;
  background: linear-gradient( #026807, #6bf60e);
  font-size: 2em;
  color: white;
  border: none;
  border-radius: 5px;
}
.buttonCopy:hover{
  cursor: pointer;
  opacity: 0.7;
  transition: 0.3s;
  box-shadow: 0 0 10px rgb(0, 0, 0);
}